datacenter = "home-dc"
data_dir = "/opt/consul"
node_name = "{{ ansible_facts['hostname'] }}"
client_addr = "0.0.0.0"
server = false
bind_addr = "0.0.0.0" # Listen on all IPv4
advertise_addr = "{{ ansible_facts['default_ipv4']['address'] }}"
retry_join = ["consul1.home.mynet","consul2.home.mynet","consul3.home.mynet"]

